.page {
    height: 100vh;
    margin: 0 180px;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
}

.layoutContainer {
    height: 100%;
    flex: 1;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: center;
    height: 100%;
}


