.page {
    height: 100vh;
    margin: 0 10%;
    padding: 12px 24px;
    display: flex;
    flex-direction: column;
    background-color: #000;

}

.layoutContainer {
    height: 100%;
    flex: 1;
    margin: 12px 0;
}


.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    justify-content: center;
    height: 100%;
}


